 .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  body {
  background:  linear-gradient(to bottom,  #B20000, #8C0000 100%);

}
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  opacity: 0.5;
}
.navbar a{
  color: white;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A3"] {
  width: 33cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}


@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
footer{
  text-align: center;
  background-color: grey;
}
h1{
  background-color: grey;
}